body {
    background-image: url(../images/background.png);
    font-family: 'Abel', sans-serif;
    color: rgb(88, 88, 88);
}
.container {
    position: relative;
}
.appname {
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: #26a699;
    height: 170px;
    width: 170px;
    margin: auto;
    line-height: 1;
    padding-top: 6%;
    margin-top: 35%;
}
.start {
    display: block;
    color: #26a69a; 
    font-size: 25px;
    text-align: center;
    margin-top: 3%;
}
label {
    font-size: 20px;
}
/* Planner Page */
.title2 {
    font-size: 70px;
    text-align: center;
    color: white;
    background-color: #26a699;
    height: 184px;
    width: 184px;
    margin: auto;
    padding-top: 6%;
    line-height: 1
}
button, .dispbusiness {
    background-color: transparent;
    box-shadow: none;
    color: #26a699;
}
/* label {
    color: rgb(88, 88, 88);
    font-size: 40px;
} */
button:hover {
    cursor: pointer;
}
.addbtn:focus{
    background-color: transparent;
    box-shadow: none;
}
.nextlocation {
    margin-top: 6%;
}
.locations {
    margin-top: -7%;
}
.plannedactivities {
    color: #26a69a;
    margin-bottom: 1%;
}
.noactivity {
    margin-top: 3%;
    color: #26a69a;
}
#yourlocation, #activityinput, #dayname, #area {
    width: 93%;
    margin-top: 2.5%;
    font-size: 30px;
}
#location, .addbtn {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
    width: 7%;
    padding: 0;
    margin-top: .5%;
    margin-bottom: 3%;
}
.activityinput {
    display: block;
}
.rmvactivities {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
    margin-top: -9%;
}
input[type=text] {
    margin-top: 3%;
}
.addbtn:hover {
    background-color: transparent;
    box-shadow: none;
}
/* yelp search */
.dispbusiness {
    font-size: 30px;
    float: right;
    border: none;
}
.profileimg {
    margin-top: 2%;
    text-align: center;
}
.profilename {
    text-align: center;
    font-size: 40px;
}
.picture {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 150px;
    height: 150px;
    text-align: center;
}
.businessimg, .picture {
    width: 160px;
    height: 160px;
}
.businessaddress {
    margin-bottom: 2%;
}
.activitybtn {
    margin: 1%;
    font-size: 11px;
    box-shadow: none;
}
.plotcoursebtn, .repickbtn, .moreactivitybtn, .pickupbtn {
    width: 10em;
    margin: 4px;
}
.subtitle {
    text-align: center;
    color: #26a69a;
    margin-bottom: 2%;
    font-size: 40px;
}
.businesses {
    text-align: center;
    margin-top: 4%;
}
.options {
    text-align: center;
    margin-top: 4%;
}
.dispbusiness:hover, .rmvactivities:hover {
    background-color: #26a69952;
}
/* map */
#map {
    border: 2px solid #26a69a;
}
.leaflet-control {
    width: 290px;
    height: 150px;
    margin-bottom: none;
}
.leaflet-bar {
    box-shadow: none;
}
.directionbtn {
    left: 8em;
    top: -2em;
}
.mapquest-logo {
    visibility: hidden;
}
html {
    overflow-y: scroll;
}