body {
    background-image: url(../images/background.png);
    font-family: 'Abel', sans-serif;
    color: rgb(88, 88, 88);
}
.container {
    position: relative;
}
.appname {
    font-size: 100px;
    text-align: center;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 5%;
    line-height: 100px;
    width: 200px;
    height: 200px;
    color: white;
    background-color: #26a69a;
}
.start {
    display: block;
    color: #26a69a;
    font-size: 25px;
    text-align: center;
    margin-top: 3%;
}
html {
    overflow-y: scroll;
}

/* Planner Page */
.title2 {
    font-size: 70px;
    text-align: center;
    color: white;
    background-color: #26a69a;
    height: 184px;
    width: 184px;
    margin: auto;
    margin-top: .5%;
    margin-bottom: 1%;
    padding: 2%;
}
label {
    color: rgb(88, 88, 88);
    font-size: 30px;
}
button:hover {
    cursor: pointer;
}
.addbtn:focus {
    background-color: transparent;
    box-shadow: none;
}
.nextlocation {
    margin-top: 6%;
}
.locations {
    margin-top: -7%;
}
.plannedactivities {
    color: #26a69a;
    margin-bottom: 1%;
}
.noactivity {
    margin-top: 3%;
    color: #26a69a;
}
#activityinput{

}
#yourlocation, #activityinput, #dayname, #area {
    width: 93%;
    margin-top: .5%;
    font-size: 18px;
}
#location, .addbtn, .dispbusiness {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
    padding: 0;
    margin-top: .5%;
    margin-bottom: 3%;
    border: none;
}
.rmvactivities {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
}
input[type=text] {
    margin-top: 3%;
}
.addbtn:hover {
    background-color: transparent;
    box-shadow: none;
}
nav {
    background-color: transparent;
    box-shadow: none;
    height: 100%;
}
nav i.material-icons {
    font-size: 30px;
    height: 49px;
    width: 49px;
    line-height: 47px;
}
.signout, .plannerbtn, .profilebtn {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
    margin: 0 2%;
    height: 49px;
    width: 49px;
    padding: inherit;
}
.plannerbtn, .profilebtn {
    padding: 0;
}
.signout:hover, .plannerbtn:hover, .profilebtn:hover, .dispbusiness:hover{
    background-color: transparent;
    box-shadow: none;
}
nav i.material-icons:hover, .dispbusiness:hover {
    border: 1px solid #26a69a;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#nav-mobile {
    margin-right: 2%;
}

/* yelp search */
.businessimg {
    width: 130px;
    height: 130px;
}
.businessaddress {
    margin-bottom: 2%;
}
.activitybtn {
    margin: 1%;
    font-size: 11px;
    box-shadow: none;
}
.subtitle {
    text-align: center;
    color: #26a69a;
    margin-bottom: 2%;
    font-size: 40px;
}
.businesses {
    text-align: center;
    margin-top: 4%;
}
.options {
    text-align: center;
    margin-top: 4%;
}
.dispbusiness {
    float: right;
    font-size: 35px;
    height: 50px;
    width: 50px;
    padding-bottom: 3%;
}
.rmvactivities:hover {
    background-color: #26a69952;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 20px;
}
#newactivity, .pickupinput {
    width: 70%;
}
.container3 {
    margin-top: 2%;
}
.plotcoursebtn, .repickbtn, .moreactivitybtn, .pickupbtn {
    width: 10em;
    margin: 4px;
}
.dispbusinessdiv {
    height: 355px;
}

/* map */
#map {
    border: 2px solid #26a69a;
}
.leaflet-control {
    width: 290px;
    height: 150px;
    margin-bottom: none;
}
.leaflet-bar {
    box-shadow: none;
}
.directionbtn {
    left: 8em;
    top: -2em;
}
.mapquest-logo {
    visibility: hidden;
}
.isOptimize {
    margin-top: 3%;
}

/* profile */
.profileimg {
    text-align: right;
}
.picture {
    width: 210px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    opacity: .9;
}
.profilename{
    font-size: 70px;
    height: 225px;
    line-height: 5;
}
.border {
    width: 1020px;
    border-bottom: 1.5px solid #26a69a;
    margin-top: -2%;
}
.nameofday {
    text-align: center;
    font-size: 60px;
}
.dispsaved {
    text-align: center
}
.savedday {
    border-bottom: 1.5px solid #26a69a;
}

/* media query */
@media only screen and (max-width: 612px) {
    .title2 {
        height: 100px;
        width: 100px;
        font-size: 45px;
        line-height: 1;
    }
    .profileimg {
        margin-top: 5%;
        padding: 2%;
        width: 168px;
    }
    .picture {
        width: 150px;
    }
    .profilename {
        font-size: 40px;
        width: 186px;
        height: 155px;
        padding: 0;
    }
}
@media only screen and (max-width: 600px) {
    .dispbusinessdiv {
        height: 280px;
    }
}
@media only screen and (max-width: 414px) {
    .profileimg {
        text-align: center
    }
    .picture {
        width: 120px;
    }
    .profilename {
        font-size: 40px;
        text-align: center;
        margin-top: -15%;
    }
    .border {
        visibility: hidden;
    }
    label{
        font-size: 24px
    }
    form {
        padding-top: 6%;
    }
    input {
        font-size: 14px;
    }
    .subtitle {
        font-size: 37px;
    }
    h4 {
        font-size: 23px;
    }
    h5 {
        font-size: 18px;
    }
    .dispbusiness {
        font-size: 30px;
    }
}