body {
    background-image: url(../images/background.png);
    font-family: 'Abel', sans-serif;
    color: rgb(88, 88, 88);
}
.container {
    position: relative;
}
.title {
    font-size: 90px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding-top: 14%;
    width: 200px;
    height: 275px;
    background-color: rgba(158, 158, 158, 0.548);
}
.start {
    display: block;
    color: #26a69a; 
    font-size: 25px;
    text-align: center;
    margin-top: 3%;
}

/* Planner Page */
.title2 {
    font-size: 50px;
    text-align: center;
    color: rgb(88, 88, 88);
    background-color: rgba(158, 158, 158, 0.219);
    /* background-image: url(../images/stardust.png); */
    height: 120px;
    width: 250px;
    margin: auto;
    margin-bottom: 15%;
    /* margin-top: 3%; */
    padding: 10% 4%;
    /* border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%; */
}
label {
    color: rgb(88, 88, 88);
    font-size: 18px;
}
.addbtn {
    background-color: transparent;
    border: none;
    width: 7%;
    color: #26a69a;
    box-shadow: none;
    margin-top: .5%;
    padding: 0;
    border-bottom: 1px solid gray;
}
button:hover {
    cursor: pointer;
}
.addbtn:focus{
    background-color: transparent;
}
.nextlocation {
    margin-top: 6%;
}
.locations {
    margin-top: -7%;
}
.plannedactivities {
    margin-top: -5%;
    color: #26a69a;
}
.noactivity {
    margin-top: 3%;
    color: #26a69a;
}
#yourlocation {
    width: 93%;
}
#location {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
    width: 7%;
    padding: 0;
    border-bottom: 1px solid gray;
    margin-top: .5%;
}
#startlocation {
    width: 93%;
}
.activityinput {
    display: block;
}
.rmvactivities {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
}
/* yelp search */
.businessimg {
    width: 120px;
}
.businessaddress {
    margin-bottom: 2%;
}
.activitybtn {
    margin: 1%;
    font-size: 11px;
    box-shadow: none;
}
.subtitle {
    text-align: center;
    color: #26a69a;
    margin-top: -12%;
}
.businesses {
    text-align: center;
}
.directionOrsave {
    text-align: center;
    margin-top: 8%;
}
.plotcoursebtn {
    margin-right: 7%;
}
/* map */
#map {
    margin-top: -5%;
    border: 2px solid #26a69a;
}
.leaflet-control {
    width: 290px;
    height: 150px;
    margin-bottom: none;
}
.leaflet-bar {
    box-shadow: none;
}
.directionbtn {
    left: 8em;
    top: -2em;
}