body {
    background-image: url(../images/background.png);
    font-family: 'Abel', sans-serif;
    color: rgb(88, 88, 88);
}
.container {
    position: relative;
}
.title {
    font-size: 90px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding-top: 14%;
    width: 650px;
    height: 75px;
    background-color: rgba(158, 158, 158, 0.548);
}
.start {
    display: block;
    color: #26a69a; 
    font-size: 25px;
    text-align: center;
    margin-top: 3%;
}

/* Planner Page */
.title2 {
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #26a69986;
    height: 300px;
    width: 250px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 1.5% 0;
    font-size: 110px;
}
label {
    color: rgb(88, 88, 88);
    font-size: 40px;
}
button:hover {
    cursor: pointer;
}
.addbtn:focus{
    background-color: transparent;
    box-shadow: none;
}
.nextlocation {
    margin-top: 6%;
}
.locations {
    margin-top: -7%;
}
.plannedactivities {
    color: #26a69a;
    margin-bottom: 1%;
}
.noactivity {
    margin-top: 3%;
    color: #26a69a;
}
#yourlocation, #startlocation, #dayname, #area {
    width: 93%;
    margin-top: 2.5%;
    font-size: 20px;
}
#location, .addbtn, .dispbusiness {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
    width: 7%;
    padding: 0;
    margin-top: .5%;
    margin-bottom: 3%;
    border: none;
}
.activityinput {
    display: block;
}
.rmvactivities {
    background-color: transparent;
    color: #26a69a;
    box-shadow: none;
}
input[type=text] {
    margin-top: 3%;
}
.addbtn:hover {
    background-color: transparent;
    box-shadow: none;
}

/* yelp search */
.businessimg {
    width: 160px;
    height: 160px;
}
.businessaddress {
    margin-bottom: 2%;
}
.activitybtn {
    margin: 1%;
    font-size: 11px;
    box-shadow: none;
}
.subtitle {
    text-align: center;
    color: #26a69a;
    margin-top: -2%;
    margin-bottom: 2%;
    font-size: 50px;
}
.businesses {
    text-align: center;
    margin-top: 4%;
}
.options {
    text-align: center;
    margin-top: 4%;
}
.dispbusiness {
    float: right;
}
.dispbusiness:hover, .rmvactivities:hover {
    background-color: #26a69952;
}

/* map */
#map {
    border: 2px solid #26a69a;
}
.leaflet-control {
    width: 290px;
    height: 150px;
    margin-bottom: none;
}
.leaflet-bar {
    box-shadow: none;
}
.directionbtn {
    left: 8em;
    top: -2em;
}
.mapquest-logo {
    visibility: hidden;
}

@media only screen and (max-width: 1480px) {
    .title2 {
        font-size: 70px;
        padding: 2%;
        height: 200px;
        width: 210px;
    }
    label {
        font-size: 32px;
    }
    #yourlocation, #startlocation, #dayname, #area {
        margin-top: .5%;
        font-size: 18px;
    }
    .subtitle {
        font-size: 40px;
    }
    .businessimg {
        width: 130px;
        height: 130px;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
        font-size: 20px;
    }
}
html {
    overflow-y: scroll;
}

/* media query */
@media only screen and (max-width: 1024px) {
    .title2 {
        width: 200px;
        padding: 4%;
        float: left;
        margin-top: 0;
        height: 250px;
        font-size: 85px;
    }
    label {
        font-size: 29px;
    }
    .subtitle {
        margin-top: 0;
    }
    form {
        padding-top: 6%;
    }
    .container2 {
        padding-top: 40%; 
    }
    #yourlocation, #startlocation, #dayname, #area {
        margin-top: 0;
        font-size: 17px;
    }
}
@media only screen and (max-width: 991px) {
    .title2 {
        font-size: 80px;
        height: 225px;
        width: 190px;
    }
    .container2 {
        padding-top: 34%;
    }
}
@media only screen and (max-width: 768px) {
    .title2 {
        font-size: 75px;
        height: 215px;
        width: 185px;
    }
    .container2 {
        padding-top: 39%;
    }
}
@media only screen and (max-width: 640px) {
    .title2 {
        font-size: 68px;
        height: 190px;
        width: 160px;
    }
}

@media only screen and (max-width: 600px) {
    .title2 {
        float: none;
        height: 90px;
        width: 250px;
        margin-top: 1%;
        padding: 3.5%;
        font-size: 55px;
    }
    .container2 {
        padding-top: 2%;
    }
}

@media only screen and (max-width: 550px) {
    label {
        font-size: 20px;
    }
    .rmvactivities {
        font-size: 13px;
    }
    .subtitle {
        font-size: 37px;
        margin-bottom: 0;
    }
    .businessimg {
        width: 120px;
        height: 120px;
    }
    h4 {
        font-size: 23px;
    }
    h5 {
        font-size: 16px;
    }
    #yourlocation, #startlocation, #dayname, #area {
        font-size: 15px;
    }
}